Repository kadu0922/arduino, pull requests merged in 2020-12, with the labels that each got.

#28 [github]プルリクテンプレートを作成
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev

#31 #29 LoraSirial1 update
  LoraSiral_1/LoraSirial_1.ino
Labels: Lora

#32 [Lora] ES920LRの送受信プログラムの作成
  LoraSerial_1/LoraSerial_1.ino
  LoraSerial_2/receive/Receive.ino
  LoraSerial_2/send/Send.ino
  LoraSiral_2/receive/Receive.ino
  LoraSiral_2/send/Send.ino
Labels: Lora

#34 [Main]LoraをRTCのスリープで叩き起こすプログラム
  RTC_Lora_sleep1/RTC_Lora_Receive/RTC_Lora_Receive.ino
  RTC_Lora_sleep1/RTC_Lora_send/RTC_Lora_Send.ino
Labels: Lora, RTC, main

#36 #35 中継端末を返したLoraプログラム
  RTC_Lora_sleep2/Receive/Receive.ino
  RTC_Lora_sleep2/Relay1/Relay1.ino
  RTC_Lora_sleep2/Relay2/Relay2.ino
  RTC_Lora_sleep2/Send/Send.ino
Labels: Lora, RTC, main
